@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-1;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-600;
}

.message-list_message-item {
  @apply self-end p-2 rounded-lg rounded-tr-none bg-green-200 shadow relative mb-3 flex flex-col;
}

.message-list_message-item:nth-child(even) {
  @apply self-start rounded-lg rounded-tl-none bg-white;
}

.my-message {
  @apply self-end p-2 rounded-lg rounded-tr-none bg-green-200 shadow relative mb-3 flex flex-col;
}

.other-user-message {
  @apply self-start rounded-lg rounded-tl-none bg-white;
}

.admin-user-message {
  @apply self-center rounded-lg bg-yellow-400;
}

.message-list_message-item::before {
  content: "";
  width: 8px;
  height: 13px;
  color: green;
  position: absolute;
  top: 0px;
  right: -8px;
  background-image: url("../images/caret.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: blue;
}

.message-list_message-item:nth-child(even)::before {
  left: -8px;
  transform: rotateY(180deg);
  background-image: url("../images/caret-white.svg");
}
